{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended"],
    "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
    "rules": {
        "semi": [2, "never"],
        "quotes": [2, "single", { "avoidEscape": true }],
        "comma-dangle": "off",
        "@typescript-eslint/comma-dangle": ["error", "only-multiline"]
    }
}
